In [1]:
import pandas as pd
import numpy as np

In [2]:
# Загрузка таблиц 
table_plus = pd.read_csv('plus_41718.csv')  
table_minus = pd.read_csv('minus_41718.csv')

In [3]:
# Вывод информации о таблицах
print("=== ТАБЛИЦА PLUS ===")
print(f"Размер: {table_plus.shape}")
print(f"Колонки: {list(table_plus.columns)}")
print(f"Типы данных:\n{table_plus.dtypes}")
print("\nПервые 5 строк таблицы PLUS:")
display(table_plus.head())

=== ТАБЛИЦА PLUS ===
Размер: (35, 3)
Колонки: ['Топик', 'Количество', 'Процент']
Типы данных:
Топик          object
Количество      int64
Процент       float64
dtype: object

Первые 5 строк таблицы PLUS:

           Топик  Количество   Процент
0      атмосфера           0  0.000000
1     больничный           3  0.035714
2  график работы           3  0.035714
3            дмс           0  0.000000
4         задачи           2  0.023810

In [4]:
print("=== ТАБЛИЦА MINUS ===")
print(f"Размер: {table_minus.shape}")
print(f"Колонки: {list(table_minus.columns)}")
print(f"Типы данных:\n{table_minus.dtypes}")
print("\nПервые 5 строк таблицы MINUS:")
display(table_minus.head())

=== ТАБЛИЦА MINUS ===
Размер: (47, 3)
Колонки: ['Топик', 'Количество', 'Процент']
Типы данных:
Топик          object
Количество      int64
Процент       float64
dtype: object

Первые 5 строк таблицы MINUS:

                     Топик  Количество  Процент
0                      kpi           0      0.0
1  автоматизация процессов           0      0.0
2                адаптация           0      0.0
3                   баланс           0      0.0
4           бизнес процесс           0      0.0

In [5]:
# Сравнение таблиц
print("=== СРАВНЕНИЕ ТАБЛИЦ PLUS и MINUS ===")

# 1. Сравнение размеров
print(f"1. Размеры таблиц:")
print(f"   Таблица PLUS:  {table_plus.shape[0]} строк, {table_plus.shape[1]} колонок")
print(f"   Таблица MINUS: {table_minus.shape[0]} строк, {table_minus.shape[1]} колонок")

if table_plus.shape == table_minus.shape:
    print("   ✓ Таблицы имеют одинаковый размер")
else:
    print("   ✗ Таблицы имеют разный размер")

=== СРАВНЕНИЕ ТАБЛИЦ PLUS и MINUS ===
1. Размеры таблиц:
   Таблица PLUS:  35 строк, 3 колонок
   Таблица MINUS: 47 строк, 3 колонок
   ✗ Таблицы имеют разный размер

In [6]:
# 2. Проверка одинаковых колонок
for column in table_plus.columns:
    if column in table_minus.columns:
        # Находим пересечение значений
        common_values = set(table_plus[column]) & set(table_minus[column])
        print(f"Колонка '{column}': {len(common_values)} точных совпадений")
        if common_values:
            print(f"  Совпадающие значения: {list(common_values)}")

Колонка 'Топик': 26 точных совпадений
  Совпадающие значения: ['наставничество', 'оборудование', 'отдых', 'удаленная работа', 'зарплата', 'карьерный рост', 'условия', 'обратная связь', 'руководство', 'офис', 'соц пакет', 'график работы', 'питание', 'транспорт', 'дмс', 'корпоративная культура', 'отношение', 'соблюдение тк', 'развитие', 'расположение', 'испытательный срок', 'обучение', 'коллектив', 'проживание', 'спец одежда', 'мотивация']
Колонка 'Количество': 7 точных совпадений
  Совпадающие значения: [0, 1, 2, 4, 6, 7, 11]
Колонка 'Процент': 7 точных совпадений
  Совпадающие значения: [0.0, 0.083333, 0.071429, 0.130952, 0.011905, 0.02381, 0.047619]

In [7]:
print("Исходная таблица 1:")
print(table_plus)
print("\nИсходная таблица 2:")
print(table_minus)

Исходная таблица 1:
                     Топик  Количество   Процент
0                атмосфера           0  0.000000
1               больничный           3  0.035714
2            график работы           3  0.035714
3                      дмс           0  0.000000
4                   задачи           2  0.023810
5                 зарплата          26  0.309524
6       испытательный срок           0  0.000000
7           карьерный рост           0  0.000000
8                коллектив          24  0.285714
9   корпоративная культура           4  0.047619
10               мотивация           0  0.000000
11          наставничество           0  0.000000
12            оборудование           0  0.000000
13          обратная связь           0  0.000000
14                обучение           0  0.000000
15             опыт работы           0  0.000000
16                   отдых           3  0.035714
17               отношение           6  0.071429
18                  отпуск          18  0.214286
19                    офис           1  0.011905
20                 питание           2  0.023810
21                 подарки           0  0.000000
22              подработка           0  0.000000
23              проживание           0  0.000000
24                развитие           0  0.000000
25            расположение          17  0.202381
26             руководство          11  0.130952
27  своевременная зарплата           6  0.071429
28  скидки для сотрудников           0  0.000000
29           соблюдение тк           7  0.083333
30               соц пакет           7  0.083333
31             спец одежда           1  0.011905
32               транспорт           0  0.000000
33        удаленная работа           0  0.000000
34                 условия           7  0.083333

Исходная таблица 2:
                      Топик  Количество   Процент
0                       kpi           0  0.000000
1   автоматизация процессов           0  0.000000
2                 адаптация           0  0.000000
3                    баланс           0  0.000000
4            бизнес процесс           0  0.000000
5                       быт           0  0.000000
6                бюрократия           1  0.011905
7            взаимодействие          12  0.142857
8             график работы          13  0.154762
9                       дмс           0  0.000000
10                дресс код           0  0.000000
11                 зарплата          27  0.321429
12       испытательный срок           0  0.000000
13           карьерный рост           2  0.023810
14               колл центр           0  0.000000
15                коллектив           6  0.071429
16   корпоративная культура           0  0.000000
17              мероприятия           0  0.000000
18          мобильная связь           0  0.000000
19                мотивация           1  0.011905
20                 нагрузка           1  0.011905
21           наставничество           0  0.000000
22             оборудование           0  0.000000
23           обратная связь           0  0.000000
24                 обучение           1  0.011905
25              обязанности           1  0.011905
26                     опыт           0  0.000000
27                    отдых           7  0.083333
28                отношение           5  0.059524
29                     офис           0  0.000000
30             охрана труда           0  0.000000
31                 парковка           0  0.000000
32                  питание           4  0.047619
33  программное обеспечение           0  0.000000
34               проживание           0  0.000000
35          рабочий процесс           1  0.011905
36                 развитие           0  0.000000
37             расположение           1  0.011905
38              руководство           8  0.095238
39                   скидка           0  0.000000
40            соблюдение тк           0  0.000000
41                соц пакет           0  0.000000
42              спец одежда           0  0.000000
43                транспорт           0  0.000000
44         удаленная работа           1  0.011905
45                  условия          11  0.130952
46                    штраф           0  0.000000

In [13]:
# 1. Таблицы с одинаковыми ключевыми словами (внутреннее соединение)
# Используем merge для нахождения пересечений по ключевым словам
common_keywords = pd.merge(table_plus, table_minus, on='Топик', how='inner', suffixes=('_table_plus', '_table_minus'))

print("\n" + "="*80)
print("1. ОБЩИЕ КЛЮЧЕВЫЕ СЛОВА (пересечение):")
print("="*80)
print("Количество общих ключевых слов:", len(common_keywords['Топик'].unique()))
print("\nТаблица с общими ключевыми словами и значениями из обеих таблиц:")
print(common_keywords)

================================================================================
1. ОБЩИЕ КЛЮЧЕВЫЕ СЛОВА (пересечение):
================================================================================
Количество общих ключевых слов: 26

Таблица с общими ключевыми словами и значениями из обеих таблиц:
                     Топик  Количество_table_plus  Процент_table_plus  \
0            график работы                      3            0.035714
1                      дмс                      0            0.000000
2                 зарплата                     26            0.309524
3       испытательный срок                      0            0.000000
4           карьерный рост                      0            0.000000
5                коллектив                     24            0.285714
6   корпоративная культура                      4            0.047619
7                мотивация                      0            0.000000
8           наставничество                      0            0.000000
9             оборудование                      0            0.000000
10          обратная связь                      0            0.000000
11                обучение                      0            0.000000
12                   отдых                      3            0.035714
13               отношение                      6            0.071429
14                    офис                      1            0.011905
15                 питание                      2            0.023810
16              проживание                      0            0.000000
17                развитие                      0            0.000000
18            расположение                     17            0.202381
19             руководство                     11            0.130952
20           соблюдение тк                      7            0.083333
21               соц пакет                      7            0.083333
22             спец одежда                      1            0.011905
23               транспорт                      0            0.000000
24        удаленная работа                      0            0.000000
25                 условия                      7            0.083333

    Количество_table_minus  Процент_table_minus
0                       13             0.154762
1                        0             0.000000
2                       27             0.321429
3                        0             0.000000
4                        2             0.023810
5                        6             0.071429
6                        0             0.000000
7                        1             0.011905
8                        0             0.000000
9                        0             0.000000
10                       0             0.000000
11                       1             0.011905
12                       7             0.083333
13                       5             0.059524
14                       0             0.000000
15                       4             0.047619
16                       0             0.000000
17                       0             0.000000
18                       1             0.011905
19                       8             0.095238
20                       0             0.000000
21                       0             0.000000
22                       0             0.000000
23                       0             0.000000
24                       1             0.011905
25                      11             0.130952

In [14]:
# 2. Различия - ключевые слова, которые есть только в первой таблице
only_in_table_plus = pd.merge(table_plus, table_minus[['Топик']], on='Топик', how='left', indicator=True)
only_in_table_plus = only_in_table_plus[only_in_table_plus['_merge'] == 'left_only'].drop('_merge', axis=1)

# 3. Различия - ключевые слова, которые есть только во второй таблице
only_in_table_minus = pd.merge(table_minus, table_plus[['Топик']], on='Топик', how='left', indicator=True)
only_in_table_minus = only_in_table_minus[only_in_table_minus['_merge'] == 'left_only'].drop('_merge', axis=1)

print("\n" + "="*80)
print("2. РАЗЛИЧИЯ:")
print("="*80)

print("\nA) Ключевые слова, которые есть ТОЛЬКО в первой таблице:")
print(f"Количество: {len(only_in_table_plus)}")
if len(only_in_table_plus) > 0:
    print(only_in_table_plus)
else:
    print("Нет уникальных ключевых слов")

print("\nB) Ключевые слова, которые есть ТОЛЬКО во второй таблице:")
print(f"Количество: {len(only_in_table_minus)}")
if len(only_in_table_minus) > 0:
    print(only_in_table_minus)
else:
    print("Нет уникальных ключевых слов")

================================================================================
2. РАЗЛИЧИЯ:
================================================================================

A) Ключевые слова, которые есть ТОЛЬКО в первой таблице:
Количество: 9
                     Топик  Количество   Процент
0                атмосфера           0  0.000000
1               больничный           3  0.035714
4                   задачи           2  0.023810
15             опыт работы           0  0.000000
18                  отпуск          18  0.214286
21                 подарки           0  0.000000
22              подработка           0  0.000000
27  своевременная зарплата           6  0.071429
28  скидки для сотрудников           0  0.000000

B) Ключевые слова, которые есть ТОЛЬКО во второй таблице:
Количество: 21
                      Топик  Количество   Процент
0                       kpi           0  0.000000
1   автоматизация процессов           0  0.000000
2                 адаптация           0  0.000000
3                    баланс           0  0.000000
4            бизнес процесс           0  0.000000
5                       быт           0  0.000000
6                бюрократия           1  0.011905
7            взаимодействие          12  0.142857
10                дресс код           0  0.000000
14               колл центр           0  0.000000
17              мероприятия           0  0.000000
18          мобильная связь           0  0.000000
20                 нагрузка           1  0.011905
25              обязанности           1  0.011905
26                     опыт           0  0.000000
30             охрана труда           0  0.000000
31                 парковка           0  0.000000
33  программное обеспечение           0  0.000000
35          рабочий процесс           1  0.011905
39                   скидка           0  0.000000
46                    штраф           0  0.000000

In [20]:
# Дополнительно: сравнение значений для общих ключевых слов
print("\n" + "="*80)
print("3. СРАВНЕНИЕ ЗНАЧЕНИЙ ДЛЯ ОБЩИХ КЛЮЧЕВЫХ СЛОВ:")
print("="*80)

if not common_keywords.empty:
    # Создаем сравнение значений
    comparison = common_keywords.copy()
    print(comparison)
    
    # Добавляем флаги различий
    comparison['col1_diff'] = comparison['Количество_table_plus'] != comparison['Количество_table_minus']
    comparison['col2_diff'] = comparison['Процент_table_plus'] != comparison['Процент_table_minus']
    comparison['has_differences'] = comparison['col1_diff'] | comparison['col2_diff']
    
    print("\nВсе записи с общими ключевыми словами:")
    print(comparison[['Топик', 'Количество_table_plus', 'Количество_table_minus', 'Процент_table_plus', 'Процент_table_minus']])
    
    # Записи, где значения различаются
    diff_records = comparison[comparison['has_differences']]
    
    if not diff_records.empty:
        print("\nЗаписи, где значения РАЗЛИЧАЮТСЯ:")
        print(diff_records[['Топик', 'Количество_table_plus', 'Количество_table_minus', 'Процент_table_plus', 'Процент_table_minus']])
    else:
        print("\nВсе значения для общих ключевых слов полностью совпадают!")

================================================================================
3. СРАВНЕНИЕ ЗНАЧЕНИЙ ДЛЯ ОБЩИХ КЛЮЧЕВЫХ СЛОВ:
================================================================================
                     Топик  Количество_table_plus  Процент_table_plus  \
0            график работы                      3            0.035714
1                      дмс                      0            0.000000
2                 зарплата                     26            0.309524
3       испытательный срок                      0            0.000000
4           карьерный рост                      0            0.000000
5                коллектив                     24            0.285714
6   корпоративная культура                      4            0.047619
7                мотивация                      0            0.000000
8           наставничество                      0            0.000000
9             оборудование                      0            0.000000
10          обратная связь                      0            0.000000
11                обучение                      0            0.000000
12                   отдых                      3            0.035714
13               отношение                      6            0.071429
14                    офис                      1            0.011905
15                 питание                      2            0.023810
16              проживание                      0            0.000000
17                развитие                      0            0.000000
18            расположение                     17            0.202381
19             руководство                     11            0.130952
20           соблюдение тк                      7            0.083333
21               соц пакет                      7            0.083333
22             спец одежда                      1            0.011905
23               транспорт                      0            0.000000
24        удаленная работа                      0            0.000000
25                 условия                      7            0.083333

    Количество_table_minus  Процент_table_minus
0                       13             0.154762
1                        0             0.000000
2                       27             0.321429
3                        0             0.000000
4                        2             0.023810
5                        6             0.071429
6                        0             0.000000
7                        1             0.011905
8                        0             0.000000
9                        0             0.000000
10                       0             0.000000
11                       1             0.011905
12                       7             0.083333
13                       5             0.059524
14                       0             0.000000
15                       4             0.047619
16                       0             0.000000
17                       0             0.000000
18                       1             0.011905
19                       8             0.095238
20                       0             0.000000
21                       0             0.000000
22                       0             0.000000
23                       0             0.000000
24                       1             0.011905
25                      11             0.130952

Все записи с общими ключевыми словами:
                     Топик  Количество_table_plus  Количество_table_minus  \
0            график работы                      3                      13
1                      дмс                      0                       0
2                 зарплата                     26                      27
3       испытательный срок                      0                       0
4           карьерный рост                      0                       2
5                коллектив                     24                       6
6   корпоративная культура                      4                       0
7                мотивация                      0                       1
8           наставничество                      0                       0
9             оборудование                      0                       0
10          обратная связь                      0                       0
11                обучение                      0                       1
12                   отдых                      3                       7
13               отношение                      6                       5
14                    офис                      1                       0
15                 питание                      2                       4
16              проживание                      0                       0
17                развитие                      0                       0
18            расположение                     17                       1
19             руководство                     11                       8
20           соблюдение тк                      7                       0
21               соц пакет                      7                       0
22             спец одежда                      1                       0
23               транспорт                      0                       0
24        удаленная работа                      0                       1
25                 условия                      7                      11

    Процент_table_plus  Процент_table_minus
0             0.035714             0.154762
1             0.000000             0.000000
2             0.309524             0.321429
3             0.000000             0.000000
4             0.000000             0.023810
5             0.285714             0.071429
6             0.047619             0.000000
7             0.000000             0.011905
8             0.000000             0.000000
9             0.000000             0.000000
10            0.000000             0.000000
11            0.000000             0.011905
12            0.035714             0.083333
13            0.071429             0.059524
14            0.011905             0.000000
15            0.023810             0.047619
16            0.000000             0.000000
17            0.000000             0.000000
18            0.202381             0.011905
19            0.130952             0.095238
20            0.083333             0.000000
21            0.083333             0.000000
22            0.011905             0.000000
23            0.000000             0.000000
24            0.000000             0.011905
25            0.083333             0.130952

Записи, где значения РАЗЛИЧАЮТСЯ:
                     Топик  Количество_table_plus  Количество_table_minus  \
0            график работы                      3                      13
2                 зарплата                     26                      27
4           карьерный рост                      0                       2
5                коллектив                     24                       6
6   корпоративная культура                      4                       0
7                мотивация                      0                       1
11                обучение                      0                       1
12                   отдых                      3                       7
13               отношение                      6                       5
14                    офис                      1                       0
15                 питание                      2                       4
18            расположение                     17                       1
19             руководство                     11                       8
20           соблюдение тк                      7                       0
21               соц пакет                      7                       0
22             спец одежда                      1                       0
24        удаленная работа                      0                       1
25                 условия                      7                      11

    Процент_table_plus  Процент_table_minus
0             0.035714             0.154762
2             0.309524             0.321429
4             0.000000             0.023810
5             0.285714             0.071429
6             0.047619             0.000000
7             0.000000             0.011905
11            0.000000             0.011905
12            0.035714             0.083333
13            0.071429             0.059524
14            0.011905             0.000000
15            0.023810             0.047619
18            0.202381             0.011905
19            0.130952             0.095238
20            0.083333             0.000000
21            0.083333             0.000000
22            0.011905             0.000000
24            0.000000             0.011905
25            0.083333             0.130952

In [12]:
# 3. Сравнение данных по общему ключу (например 'ID')
if 'ID' in table_plus.columns and 'Топик' in table_minus.columns:
    print(f"\n3. Сравнение строк по ID:")
    
    # Находим различия с помощью merge
    merged = pd.merge(table_plus, table_minus, on='Топик', how='outer', 
                      suffixes=('_plus', '_minus'), indicator=True)
    
    print(f"   Строки только в PLUS:  {len(merged[merged['_merge'] == 'left_only'])}")
    print(f"   Строки только в MINUS: {len(merged[merged['_merge'] == 'right_only'])}")
    print(f"   Строки в обеих таблицах: {len(merged[merged['_merge'] == 'both'])}")
    
    # Показать строки, которые есть только в одной из таблиц
    only_in_plus = merged[merged['_merge'] == 'left_only']
    only_in_minus = merged[merged['_merge'] == 'right_only']
    
    if not only_in_plus.empty:
        print(f"\n   Строки ТОЛЬКО в таблице PLUS (первые 5):")
        display(only_in_plus.head())
    else:
        print(f"\n   ✓ Все строки из PLUS есть в MINUS")
    
    if not only_in_minus.empty:
        print(f"\n   Строки ТОЛЬКО в таблице MINUS (первые 5):")
        display(only_in_minus.head())
    else:
        print(f"\n   ✓ Все строки из MINUS есть в PLUS")

In [ ]:
# 4. Детальное сравнение значений в общих колонках
if len(common_cols) > 0:
    print(f"\n4. Сравнение значений в общих колонках:")
    
    differences_found = False
    for col in common_cols:
        if col != 'ID':  # Пропускаем ID если он используется как ключ
            # Проверяем совпадают ли значения
            if table_plus[col].equals(table_minus[col]):
                print(f"   ✓ Колонка '{col}': значения полностью совпадают")
            else:
                differences_found = True
                # Найти различия
                if 'ID' in table_plus.columns and 'ID' in table_minus.columns:
                    # Если есть ID, показываем конкретные ID с различиями
                    merged_col = pd.merge(table_plus[['ID', col]], table_minus[['ID', col]], 
                                          on='ID', suffixes=('_plus', '_minus'))
                    diff_mask = merged_col[f'{col}_plus'] != merged_col[f'{col}_minus']
                    diff_ids = merged_col.loc[diff_mask, 'ID'].tolist()
                    
                    # Показываем примеры различий
                    print(f"   ✗ Колонка '{col}': найдены различия в {len(diff_ids)} строках")
                    if len(diff_ids) > 0:
                        print(f"      Примеры ID с различиями: {diff_ids[:10]}{'...' if len(diff_ids) > 10 else ''}")
                        
                        # Показать первые 3 примера различий
                        for idx in diff_ids[:3]:
                            plus_val = table_plus.loc[table_plus['ID'] == idx, col].values[0] if len(table_plus.loc[table_plus['ID'] == idx, col]) > 0 else 'N/A'
                            minus_val = table_minus.loc[table_minus['ID'] == idx, col].values[0] if len(table_minus.loc[table_minus['ID'] == idx, col]) > 0 else 'N/A'
                            print(f"      ID {idx}: PLUS='{plus_val}', MINUS='{minus_val}'")
                else:
                    # Если нет ID, просто считаем различия
                    diff_count = (table_plus[col] != table_minus[col]).sum()
                    print(f"   ✗ Колонка '{col}': найдены различия в {diff_count} строках")
    
    if not differences_found and len(common_cols) > 1:
        print(f"   ✓ Все общие колонки имеют одинаковые значения")

In [ ]:
# 5. Сводная статистика для числовых колонок
print(f"\n5. Сравнение статистики по числовым колонкам:")

# Находим числовые колонки в общих колонках
numeric_cols = []
for col in common_cols:
    if col != 'ID' and pd.api.types.is_numeric_dtype(table_plus[col]):
        numeric_cols.append(col)

if numeric_cols:
    for col in numeric_cols:
        print(f"\n   Колонка '{col}':")
        print(f"      PLUS:  mean={table_plus[col].mean():.2f}, min={table_plus[col].min()}, max={table_plus[col].max()}")
        print(f"      MINUS: mean={table_minus[col].mean():.2f}, min={table_minus[col].min()}, max={table_minus[col].max()}")
        
        # Проверяем на существенные различия
        diff_mean = abs(table_plus[col].mean() - table_minus[col].mean())
        if diff_mean > table_plus[col].std() * 0.1:  # Если разница больше 10% от стандартного отклонения
            print(f"      ⚠️  Заметная разница в средних: {diff_mean:.2f}")
else:
    print("   Нет числовых колонок для сравнения статистики")

In [ ]:
# 6. Объединенное представление для сравнения (для первых 10 строк)
print(f"\n6. Объединенное представление для сравнения (первые 10 строк):")

# Объединяем таблицы для наглядного сравнения
if 'ID' in table_plus.columns and 'ID' in table_minus.columns:
    comparison_sample = pd.merge(
        table_plus.head(10), 
        table_minus.head(10), 
        on='ID', 
        how='outer', 
        suffixes=('_PLUS', '_MINUS')
    )
    display(comparison_sample)
else:
    # Если нет ID, просто показываем рядом
    comparison_sample = pd.concat([
        table_plus.head(10).add_suffix('_PLUS'), 
        table_minus.head(10).add_suffix('_MINUS')
    ], axis=1)
    display(comparison_sample)

# Дополнительные функции для углубленного анализа
print("\n" + "="*60 + "\n")
print("=== ДОПОЛНИТЕЛЬНЫЙ АНАЛИЗ ===")

# Функция для подсчета различий по колонкам
def compare_columns_detailed(plus_df, minus_df, key_column='ID'):
    """Детальное сравнение колонок двух таблиц"""
    
    differences = {}
    
    if key_column in plus_df.columns and key_column in minus_df.columns:
        # Выравниваем таблицы по ключу
        common_ids = set(plus_df[key_column]) & set(minus_df[key_column])
        
        for col in set(plus_df.columns) & set(minus_df.columns):
            if col != key_column:
                # Сравниваем только для общих ID
                plus_subset = plus_df[plus_df[key_column].isin(common_ids)].set_index(key_column)[col]
                minus_subset = minus_df[minus_df[key_column].isin(common_ids)].set_index(key_column)[col]
                
                # Находим различия
                diff_mask = plus_subset != minus_subset
                diff_count = diff_mask.sum()
                
                if diff_count > 0:
                    diff_ids = plus_subset.index[diff_mask].tolist()
                    differences[col] = {
                        'count': diff_count,
                        'ids': diff_ids[:20],  # Ограничиваем для вывода
                        'total_ids': len(diff_ids)
                    }
    
    return differences

# Использование функции сравнения
if 'ID' in table_plus.columns and 'ID' in table_minus.columns:
    detailed_diffs = compare_columns_detailed(table_plus, table_minus, 'ID')
    
    if detailed_diffs:
        print("Детальные различия по колонкам:")
        for col, info in detailed_diffs.items():
            print(f"  - {col}: {info['count']} различий")
            if info['count'] <= 5:  # Если мало различий, показываем все ID
                print(f"    ID с различиями: {info['ids']}")
    else:
        print("Для общих ID все значения колонок совпадают")

# Экспорт результатов сравнения
print(f"\nЭкспорт результатов сравнения...")
try:
    # Создаем Excel файл с сравнением
    with pd.ExcelWriter('comparison_results.xlsx') as writer:
        table_plus.to_excel(writer, sheet_name='table_plus', index=False)
        table_minus.to_excel(writer, sheet_name='table_minus', index=False)
        
        # Создаем сводку сравнения
        summary_data = {
            'Метрика': ['Количество строк', 'Количество колонок', 'Общие колонки', 
                       'Уникальные в PLUS', 'Уникальные в MINUS'],
            'PLUS': [table_plus.shape[0], table_plus.shape[1], len(common_cols), 
                    len(unique_to_plus), len(unique_to_minus)],
            'MINUS': [table_minus.shape[0], table_minus.shape[1], len(common_cols), 
                     len(unique_to_minus), len(unique_to_plus)]
        }
        summary_df = pd.DataFrame(summary_data)
        summary_df.to_excel(writer, sheet_name='summary', index=False)
    
    print("✓ Результаты сохранены в файл 'comparison_results.xlsx'")
except Exception as e:
    print(f"✗ Ошибка при сохранении: {e}")

print("\n" + "="*60)
print("СРАВНЕНИЕ ЗАВЕРШЕНО")

=== СРАВНЕНИЕ ТАБЛИЦ PLUS и MINUS ===
1. Размеры таблиц:
   Таблица PLUS:  35 строк, 3 колонок
   Таблица MINUS: 47 строк, 3 колонок
   ✗ Таблицы имеют разный размер

2. Сравнение колонок:
   Общие колонки (3): ['Количество', 'Процент', 'Топик']
   Уникальные в PLUS (0): []
   Уникальные в MINUS (0): []

4. Сравнение значений в общих колонках:

ValueError: Can only compare identically-labeled Series objects

2. Сравнение колонок:
   Общие колонки (3): ['Количество', 'Процент', 'Топик']
   Уникальные в PLUS (0): []
   Уникальные в MINUS (0): []