In [1]:
import pandas as pd
import numpy as np

In [42]:
# Загрузка таблиц 
table_plus = pd.read_csv('plus_41718.csv')  
table_minus = pd.read_csv('minus_41718.csv') 

table_plus['Процент'] = (table_plus['Процент'] * 100).round(2)
table_minus['Процент'] = (table_minus['Процент'] * 100).round(2)

# styled_df = table_plus.style.format({
#     'Процент': '{:.2%}'  # Отображает как проценты, но данные остаются дробями
# })

In [43]:
print("Исходная таблица 1:")
display(table_plus.head())
print("\nИсходная таблица 2:")
display(table_minus.head())

Исходная таблица 1:

           Топик  Количество  Процент
0      атмосфера           0     0.00
1     больничный           3     3.57
2  график работы           3     3.57
3            дмс           0     0.00
4         задачи           2     2.38

Исходная таблица 2:

                     Топик  Количество  Процент
0                      kpi           0      0.0
1  автоматизация процессов           0      0.0
2                адаптация           0      0.0
3                   баланс           0      0.0
4           бизнес процесс           0      0.0

In [44]:
# 1. Таблицы с одинаковыми ключевыми словами (внутреннее соединение)
# Используем merge для нахождения пересечений по ключевым словам
common_keywords = pd.merge(table_plus, table_minus, on='Топик', how='inner', suffixes=('_table_plus', '_table_minus'))

pd.set_option('display.width', 1000)  # максимальная ширина
pd.set_option('display.max_columns', None)  # показывать все колонки
pd.set_option('display.expand_frame_repr', False)  # не переносить на новую строку

print("\n" + "="*80)
print("1. ОБЩИЕ КЛЮЧЕВЫЕ СЛОВА (пересечение):")
print("="*80)
print("Количество общих ключевых слов:", len(common_keywords['Топик'].unique()))
print("\nТаблица с общими ключевыми словами и значениями из обеих таблиц:")
display(common_keywords)

================================================================================
1. ОБЩИЕ КЛЮЧЕВЫЕ СЛОВА (пересечение):
================================================================================
Количество общих ключевых слов: 26

Таблица с общими ключевыми словами и значениями из обеих таблиц:

                     Топик  Количество_table_plus  Процент_table_plus  Количество_table_minus  Процент_table_minus
0            график работы                      3                3.57                      13                15.48
1                      дмс                      0                0.00                       0                 0.00
2                 зарплата                     26               30.95                      27                32.14
3       испытательный срок                      0                0.00                       0                 0.00
4           карьерный рост                      0                0.00                       2                 2.38
5                коллектив                     24               28.57                       6                 7.14
6   корпоративная культура                      4                4.76                       0                 0.00
7                мотивация                      0                0.00                       1                 1.19
8           наставничество                      0                0.00                       0                 0.00
9             оборудование                      0                0.00                       0                 0.00
10          обратная связь                      0                0.00                       0                 0.00
11                обучение                      0                0.00                       1                 1.19
12                   отдых                      3                3.57                       7                 8.33
13               отношение                      6                7.14                       5                 5.95
14                    офис                      1                1.19                       0                 0.00
15                 питание                      2                2.38                       4                 4.76
16              проживание                      0                0.00                       0                 0.00
17                развитие                      0                0.00                       0                 0.00
18            расположение                     17               20.24                       1                 1.19
19             руководство                     11               13.10                       8                 9.52
20           соблюдение тк                      7                8.33                       0                 0.00
21               соц пакет                      7                8.33                       0                 0.00
22             спец одежда                      1                1.19                       0                 0.00
23               транспорт                      0                0.00                       0                 0.00
24        удаленная работа                      0                0.00                       1                 1.19
25                 условия                      7                8.33                      11                13.10

In [46]:
print("\n" + "="*80)
print("2. РАЗЛИЧИЯ:")
print("="*80)

# 2. Различия - ключевые слова, которые есть только в первой таблице
only_in_table_plus = pd.merge(table_plus, table_minus[['Топик']], on='Топик', how='left', indicator=True)
only_in_table_plus = only_in_table_plus[only_in_table_plus['_merge'] == 'left_only'].drop('_merge', axis=1)

print("\nA) Ключевые слова, которые есть ТОЛЬКО в первой таблице:")
print(f"Количество: {len(only_in_table_plus)}")
if len(only_in_table_plus) > 0:
    display(only_in_table_plus)
else:
    print("Нет уникальных ключевых слов")

================================================================================
2. РАЗЛИЧИЯ:
================================================================================

A) Ключевые слова, которые есть ТОЛЬКО в первой таблице:
Количество: 9

                     Топик  Количество  Процент
0                атмосфера           0     0.00
1               больничный           3     3.57
4                   задачи           2     2.38
15             опыт работы           0     0.00
18                  отпуск          18    21.43
21                 подарки           0     0.00
22              подработка           0     0.00
27  своевременная зарплата           6     7.14
28  скидки для сотрудников           0     0.00

In [47]:
# 3. Различия - ключевые слова, которые есть только во второй таблице
only_in_table_minus = pd.merge(table_minus, table_plus[['Топик']], on='Топик', how='left', indicator=True)
only_in_table_minus = only_in_table_minus[only_in_table_minus['_merge'] == 'left_only'].drop('_merge', axis=1)

print("\nB) Ключевые слова, которые есть ТОЛЬКО во второй таблице:")
print(f"Количество: {len(only_in_table_minus)}")

if len(only_in_table_minus) > 0:
    display(only_in_table_minus)
else:
    print("Нет уникальных ключевых слов")

B) Ключевые слова, которые есть ТОЛЬКО во второй таблице:
Количество: 21

                      Топик  Количество  Процент
0                       kpi           0     0.00
1   автоматизация процессов           0     0.00
2                 адаптация           0     0.00
3                    баланс           0     0.00
4            бизнес процесс           0     0.00
5                       быт           0     0.00
6                бюрократия           1     1.19
7            взаимодействие          12    14.29
10                дресс код           0     0.00
14               колл центр           0     0.00
17              мероприятия           0     0.00
18          мобильная связь           0     0.00
20                 нагрузка           1     1.19
25              обязанности           1     1.19
26                     опыт           0     0.00
30             охрана труда           0     0.00
31                 парковка           0     0.00
33  программное обеспечение           0     0.00
35          рабочий процесс           1     1.19
39                   скидка           0     0.00
46                    штраф           0     0.00